<configuration debug="false">

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${apachetrans.log.dir:-/var/log/apachetrans}/output.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- Daily rollover -->
			<fileNamePattern>${apachetrans.log.dir:-/var/log/apachetrans}/output.%d{yyyy-MM-dd}.log</fileNamePattern>
			
			<!-- Keep 15 days' worth of history -->
			<maxHistory>15</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="FILE" />
	</root>

</configuration>
